.post {
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  
    p {
      font-size: 16px;
      text-align: left;
      line-height: 1.6;
    }

    .link{
        text-align: right;
        text-decoration: underline;
      }
  }

  